#game-board {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

.grid {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 2px;
}

.grid:hover {
    background-color: #20ba0f;
    cursor: pointer;
}

/* Media query for mobile */
@media only screen and (max-width: 600px) {
    #game-board {
        width: 90%;
        max-width: 300px;
        margin: 0 auto;
    }
    
    .grid {
        width: 25%;
        height: 0;
        padding-bottom: 25%;
        font-size: 16px;
        margin: 1%;
    }
}