/* css code goes here */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    }
    
    nav {
    background-color: #ddd;
    padding: 0.5rem;
    }
    
    nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    }
    
    nav li {
    margin: 0 0.5rem;
    }
    
    section {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    }
    
    section div {
    width: 45%;
    }
    
    footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    }