/* css code goes here */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  thead {
    background-color: #ccc;
    font-weight: bold;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  th {
    text-transform: uppercase;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }