body {
    font-family: Arial, sans-serif;
}

header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.todo-input {
    width: 70%;
    padding: 10px;
    /* border: none; */
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
}


.todo-button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    font-size: 16px;
}

.todo-container {
    max-width: 600px;
    margin: 0 auto;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.todo-item.completed {
    text-decoration: line-through;
}

.completed-btn,
.trash-btn {
    background-color: #f5f5f5;
    color: #000;
    border: none;
    padding: 8px 10px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.completed-btn:hover,
.trash-btn:hover {
    transform: scale(1.1);
}

.trash-btn {
    margin-left: 10px;
    background-color: #ff3333;
    color: #fff;
}